
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  width: 100%
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

 .carousel-inner img {
  width: 100%;
  }

  @media (max-width: 576px) { 
    .carousel-item {
       height: 140px
    }
 }

   @media (min-width: 1024px) { 
    .carousel-item {
       height: 450px
    }
 }

   /* @media (max-width: 1276px) { 
    .carousel-item {
       height: 400px
    }
 } */